@import "../App.scss";

section {
  display: flex;
  gap: 1rem;

  h2 {
    color: $text;
    margin: 0;
  }

  .hourly-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vh;
    overflow-x: scroll;
    gap: 1rem;

    .hourly-card {
      display: flex;
      flex-direction: column;
      background-color: rgba(178, 178, 178, 0.1);
      padding: 2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-radius: 1rem;
      align-items: center;

      h3 {
        margin: 0;
        color: $text-secondary;
      }

      img {
        width: 4vw;
        height: 5rem;
        object-fit: cover;
      }

      p {
        margin: 0;
        color: $text;
        font-size: 1.5rem;
      }
    }
  }
}
