@import "../App.scss";

.hide-menu {
  @keyframes hideMenu {
    0% {
      opacity: 1;
      z-index: 100;
      transform: translateX(0%);
      display: flex;
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
      display: none;
    }
  }

  animation: hideMenu 0.5s forwards;
}

.show-menu {
  @keyframes showMenu {
    0% {
      opacity: 0;
      transform: translateX(-100%);
      display: none;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
      display: flex;
    }
  }

  animation: showMenu 0.5s forwards;
}

.menu-aside {
  display: flex;
  width: 25vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
  opacity: 1;
  backdrop-filter: blur(5px);
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;

  section {
    width: 70%;
    margin-bottom: 2.5vh;

    h1 {
      color: white;
      margin: 0;
    }

    .location {
      display: flex;
      justify-content: space-between;

      p {
        color: $text-secondary;
        margin: 0;
        font-size: 1rem;

        &:hover {
          color: white;
        }
      }

      button {
        font-size: 1.25rem;
      }
    }
  }

  .saved-locations {
    margin-top: 5vh;
  }

  select {
    background-color: rgba(178, 178, 178, 0.2);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    margin-right: 5rem;
    color: $text-secondary;
    font-size: 1rem;
  }
}
