@import "../App.scss";

section {
  display: flex;
  flex-direction: column;
  width: 75vw;

  .weekly-cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    gap: 1rem;

    .weekly-card {
      flex: calc(15%);
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      background-color: rgba(178, 178, 178, 0.1);
      padding: 2rem;
      border-radius: 2rem;

      img {
        width: 8vw;
      }

      .weekly-card-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .weekly-card-text-header {
          display: flex;
          flex-direction: column;

          h3 {
            margin: 0;
            color: $text;
          }

          h4 {
            margin: 0;
            color: $text-secondary;
          }
        }

        .weekly-card-text-details {
          display: flex;
          gap: 3rem;

          .weekly-card-text-details-min,
          .weekly-card-text-details-max {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
              margin: 0;
              color: $text;
              font-size: 2rem;
            }

            h4 {
              margin: 0;
              color: $text;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
